---
title:  "Documentation"

redirect_from: docs
---
<div class="three-cards">
  <div class="three-cards__wrap">
    {% for item in site.data.documentation_links %}
      <div class="card three-cards__card lg:min-h-card">
        <h3 class="card__title">{{ item.title }}</h3>
        {% if item.links[0] %}
          <ul class="card__list">
            {% for sub_item in item.links %}
              <li class="card__list-item">
                <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
