<div id="sliding-popup" class="sliding-popup-top clearfix">
  <div class="popup-content info">
    <div id="popup-text">
      <h2>We use cookies on our websites to enhance your web experience. </h2>
      <p>By using this site, you are agreeing with Alfresco Cookie Policy. Should you wish to manage your cookies, you can find instructions on the cookie policy.</p>
    </div>
    <div id="popup-buttons">
      <button type="button" class="agree-button">OK, I agree</button>
      <button type="button" class="find-more-button">Find out more</button>
    </div>
  </div>
</div>