<footer class='bg-grey-lighter border-t border-green text-sm'>
  <div class="wrap max-w-xxl py-4 md:flex items-start justify-between">
    <div class="py-4">
        <h3 class="section-sub-heading">Get Involved</h3>
        <ul class="list-reset flex md:flex-wrap items-start text-center">
            {% for item in site.data.community_links %}
              <li class="w-16 mb-4{% if forloop.last %} md:mr-4{% else %} mr-4{% endif %}">
                <a class="text-grey-darker block" href="{{ item.url }}" alt="{{ item.title }}">
                  <span class="inline-block">{% include {{ item.image }} %}</span>
                  <span class="block">{{ item.title }}</span>
                </a>
              </li>
            {% endfor %}      
          </ul>
    </div>
    
    
    <div class="flex-no-shrink flex flex-wrap items-start">
      <div class="mb-4">
        <h4>Documentation</h4>
        <ul class='list-reset mt-0'>
          <li><a class="text-grey-darker" href="https://activiti.gitbooks.io/activiti-7-developers-guide/content/">Version 7</a></li>
          <li><a class="text-grey-darker" href="/userguide">Version 6</a></li>
          <li><a class="text-grey-darker" href="/5.x/userguide">Version 5</a></li>
          <li><a class="text-grey-darker" href="https://github.com/Activiti/Activiti/wiki/Activiti-7-Roadmap">Product Roadmap</a></li>
        </ul>
      </div>
      <div class="mb-4 ml-4">
        <h4>Community</h4>
        <ul class='list-reset mt-0'>
          <li><a class="text-grey-darker" href="https://community.alfresco.com/community/bpm/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bblogpost%5D">Blog</a></li>
          {% for item in site.data.community_links %}
            <li><a class="text-grey-darker" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
          {% endfor %}        
        </ul>
      </div>
    </div>
  </div>
  <div class="border-t">
    <div class="wrap max-w-xxl py-4 flex justify-between items-center">
      <a class="mr-2 md:mr-4 xl:mr-8 flex-none w-32" href="{{ "https://www.alfresco.com/" | relative_url }}">
        {% include svg/icon-alfresco.svg %}
      </a>
      <p class='mt-0'><a href="https://www.alfresco.com/" class="text-grey-darker">&copy; {{ site.time | date: '%Y' }} Alfresco Software, Inc. All Rights Reserved.</a></p>
    </div>
  </div>
</footer>
