<!-- START: Google Tag Manager -->
<script>
// Separate DEV and LIVE output for Google Tag Manager using Client-side switch.
var GTMcode = "GTM-W4HV22";
var myHostname = window.location.hostname;
var isDevHostname = /(^|.+\.)((dev|preprod)\.alfresco\.com|localhost|local|([0-9]{1,3}\.){3}[0-9]{1,3})$/i;
if( isDevHostname.exec(myHostname) ) {
GTMcode = 'GTM-MZHX96P';   }; 
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore…
})(window,document,'script','dataLayer', GTMcode );
</script>
<!-- END: Google Tag Manager -->
