<div class="border-b border-green">
  <header class="wrap max-w-3xl" role="banner">
    <nav role='navigation' class='flex items-center py-3'>
      <a class="mr-2 xl:mr-8 flex-none" href="{{ "/" | relative_url }}">
        {% include svg/activiti-logo.svg %}
      </a>
      <a class="no-underline text-sm text-grey-darker font-normal mx-2 md:mx-4 {% if page.path == 'docs.html' %}active{% endif %}" href="{% link docs.html %}">Documentation</a>
      <a class="no-underline text-sm text-grey-darker font-normal mx-2 md:mx-4 {% if page.path == 'blog.html' %}active{% endif %}" href="{% link blog.html %}">Community</a>
      <a class="no-underline text-sm text-grey-darker font-normal mx-2 md:mx-4 {% if page.path == 'team.html' %}active{% endif %}" href="{% link team.html %}">Team</a>
      <a href="{% link get-started.html %}" class='ml-auto btn py-1'>Get started</a>
    </nav>
  </header>
</div>
