<div class="text-center bg-grey-light">
  <h4>Before you go...</h4>
  <h2 class="mt-0">Join over 6,000 Activiti Users in the Community</h2>

  <div class="flex flex-wrap justify-center p-6">
    <div class="card card__bleed my-0 mr-6 ml-0">
      <h3 class="card__title card__title__bleed bg-green border-green text-white">Join Now</h3>
      <noscript>You need Javascript enabled to do this.</noscript>
      <div class="marketo-form__loader">
        <script type="text/javascript" src="//app-ab05.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form data-privacy-url="https://www.alfresco.com/privacy" data-privacy-message="Activiti respects your &lt;a href=&quot;@href&quot;&gt;privacy&lt;/a&gt;." id="mktoForm_3128" data-most-recent-lead-source-detail="Activiti Community Download" data-google-event="ActivitiDownloadForm" data-redirect="{% link get-started.md %}/get-started" data-button-text="Join the Community" data-protection-form="mktoForm_3128" data-no-thanks="No Thanks. Continue"></form>
      </div>
    </div>

    <div class="self-center text-lg text-left flex-1 min-w-1/2 my-6">
      <p>Get tips, tricks, success cases, connect to other developers, quick start guides, help and much more in the Activiti Digest.</p>
      <p>Sent monthly.</p>
      <p class="text-center mt-8 hidden md:block"><span class="inline-block">{% include svg/activiti-digest.svg %}</span></p>
    </div>
  </div>
</div>
