<h3>Before you go...</h3>
<h2 class="mt-0">Join over 6,000 Activiti Users in the Community</h2>

<noscript>You need Javascript enabled to do this.</noscript>
<div class="marketo-form__loader">
  <script type="text/javascript" src="//app-ab05.marketo.com/js/forms2/js/forms2.min.js"></script>
  <form data-privacy-url="https://www.alfresco.com/privacy" data-privacy-message="Activiti respects your &lt;a href=&quot;@href&quot;&gt;privacy&lt;/a&gt;." id="mktoForm_3128" data-most-recent-lead-source-detail="Activiti Community Download" data-google-event="ActivitiDownloadForm" data-redirect="{% link get-started.md %}/get-started" data-button-text="Download Now" data-protection-form="mktoForm_3128" data-no-thanks="No thanks, take me to downloads &gt;"></form>
</div>

<p>Get tips, tricks, success cases, connect to other developers, quick start guides, help and much more in the Activiti Digest.</p>
<p>Sent monthly.</p>
