<div class="wrap p-0 lg:p-6 lg:pt-3 text-center bg-grey-lighter lg:bg-grey-light">
  <h2 class="hidden lg:block mt-1 mb-4 font-normal">Join over 6,000 Activiti Users in the Community</h2>

  <div class="flex flex-wrap justify-center">
    <div class="card card__bleed card-except-below-large m-0 lg:mr-6">
      <h3 class="card__title card__title__bleed bg-green border-green text-white font-normal">Join Now</h3>
      <noscript>You need Javascript enabled to do this.<br /><a href="{% link get-started.md %}">Continue on to get started.</a></noscript>
      <div class="marketo-form__loader">
        <script type="text/javascript" src="//app-ab05.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form data-privacy-url="https://www.alfresco.com/privacy" data-privacy-message="Activiti respects your &lt;a href=&quot;@href&quot;&gt;privacy&lt;/a&gt;." id="mktoForm_3128" data-most-recent-lead-source-detail="2018_GLO_GLO_DG_Website_NP_Activiti7" data-google-event="ActivitiGettingStartedForm" data-redirect="{% link get-started.md %}" data-button-text="Join the Community" data-protection-form="mktoForm_3128" data-protection-mode="soft" data-no-thanks="No Thanks. Continue" data-intro="Join over 6,000 Actitivi Users in the Community. Get tips, tricks, success cases, connect to other developers, quick start guides, help and much more in the Activiti Digest."></form>
      </div>
    </div>

    <div class="hidden lg:block self-center font-normal text-lg text-left flex-1 min-w-1/2 my-6">
      <p>Get tips, tricks, success cases, connect to other developers, quick start guides, help and much more in the Activiti Digest.</p>
      <p>Sent monthly.</p>
      <p class="text-center mt-8 hidden md:block"><span class="inline-block">{% include svg/activiti-digest.svg %}</span></p>
    </div>
  </div>
</div>
