.mktoForm {
  @apply .p-0 !important;
  @apply .w-auto !important;
}

.mktoForm fieldset,
.mktoLabel {
  @apply .hidden;
}
.mktoOriginalButton,
.mktoHide {
  @apply .hidden !important;
}

.mktoFieldWrap,
.mktoFieldDescriptor,
.mktoButtonRow {
  @apply .w-full;
}

.mktoFormRow {
  @apply .w-full;
  @apply .my-1 !important;
}

.mktoField {
  @apply .w-full !important;
  @apply .h-auto !important;
  @apply .shadow-none !important;
  @apply .border-grey !important;
  @apply .p-2 !important;
}

.mktoForm .mktoRadioList {
  @apply .p-0 !important;
}

.mktoRadioList .mktoField {
  @apply .w-auto !important;
}

.mktoForm input[type=radio] {
  @apply .absolute !important;
}

.mktoForm input[type=radio] + label {
  @apply .relative;
  @apply .inline-block;
  @apply .mr-6;
}

.mktoForm input[type=radio] + label:before {
  @apply .shadow-none !important;
  border-radius: .125rem !important;
  margin-top: .25em;
}

.mktoForm input[type=radio]:checked + label:before {
  @apply .border-none !important;
  background: #0094d2 !important;
}

.mktoForm input[type=radio]:checked + label:after {
  @apply .inline-block;
  @apply .absolute !important;
  content: '';
  height: .25em;
  width: .5em;
  border-left: .15em solid #fff;
  border-bottom: .15em solid #fff;
  top: 0.3em;
  left: -1.05em;
  -webkit-transform: translateY(.15em) rotate(-55deg);
  transform: translateY(.15em) rotate(-55deg);
  @apply .border-white;
}

.mktoForm input[type=radio]:focus + label:before {
  outline: 0;
  box-shadow: 0 0 2px 2px #6bc1e3 !important;
}

.mktoRadioList + .mktoError {
  right: auto !important;
  bottom: -100% !important;
}

.mktoButton {
  @apply .btn;
  @apply .text-2xl;
  @apply .w-full;
  @apply .cursor-pointer;
  @apply .text-center;
  @apply .font-normal;
}
.mktoButton:hover {
  @apply .text-white;
  @apply .bg-green;
  @apply .transform-scale-90;
}

.mktoForm .mktoForm-message {
  @apply .font-light;
  @apply .text-left;
}

.mktoForm .mktoForm-message-required {
  @apply .text-right;
}

.mktoForm-no-thanks {
  @apply .block;
  @apply .text-center;
  @apply .my-3;
}

.mktoForm .mktoForm-message a:hover {
  @apply .text-green;
}

.mktoForm-no-thanks {
  @apply .text-grey-darker;
  @apply .underline;
  @apply .p-0;
}

.mktoForm-message a {
  @apply .underline;
  color: inherit;
  @apply .p-0;
}

.mktoForm .mktoForm-intro {
  @apply .text-center;
  @apply .text-lg;
  @apply .px-8;
}

@screen lg {
  .mktoForm-intro {
    @apply .hidden;
  }
  .mktoField {
    @apply .px-4 !important;
    @apply .py-2 !important;
  }
  .mktoFormRow {
    @apply .my-3 !important;
  }
  .mktoForm .mktoForm-message {
    @apply .text-xs;
    @apply .mt-3;
    @apply .mb-1;
    @apply .text-left;
  }
}
