@variants hover {
  .transition {
    transition: all .3s ease-out;
  }
  .transition-slow {
    transition-duration: .3s;
  }
  .transition-fast {
    transition-duration: .225s;
  }
  .transition-faster {
    transition-duration: .15s;
  }
  .transition-timing-ease-in-out {
    transition-timing-function: ease-in-out;
  }
  .transition-timing-ease-in {
    transition-timing-function: ease-in;
  }
  .transition-timing-ease-out {
    transition-timing-function: ease-out;
  } 
}
