.card {
  @apply .bg-white;
  @apply .border;
  @apply .shadow;
  @apply .mt-3;
  @apply .mx-2;
  @apply .mb-6;
  @apply .px-8;
  @apply .py-4;
  max-width: calc(100% - 2 * config(margin.2));
}

.card__bleed {
  @apply .py-2;
  @apply .px-6;
}

.card__content ul {
  @apply .pl-4;
  @apply .text-left;
  @apply .inline-block;
  @apply .mb-4;
}

.card__title {
  @apply .-mx-8;
  @apply .px-8;
  @apply .pb-3;
  @apply .mb-3;
  @apply .border-b;
  @apply .border-grey;
}

.card__title__bleed {
  margin-top: calc(-1 * (config(padding.2) + 1px));
  margin-left: calc(-1 * (config(padding.6) + 1px));
  margin-right: calc(-1 * (config(padding.6) + 1px));
  @apply .py-2;
  @apply .border;
  @apply .border-b-0;
}

.card__list {
  @apply .list-reset;
  @apply .mt-0;
  @apply .font-normal;
}

.card__list-item {
  @apply .mt-3;
}
