h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: config('fontWeights.bold');
  letter-spacing: config('tracking.wide');
}

a {
  text-decoration: none;
  color: config('colors.green-light');
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}